

/* cleaning the nasty blue outline on input/form fields when selected */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



body {
    background-color: rgb(31, 31, 31) !important;
}

#page {
    margin: 0px 100px;
}
#header {
    height: 150px;
}

.edge-danger {
    box-shadow: 0 0 11px 2px #ff0303 !important;
}
/* .card-danger {
    background-color: #ff4242 !important;
    box-shadow: 0 0 9px 0px #ff5a5a;
} */

.card-default {
    background-color: white;
    box-shadow: 0 0 9px 0px #aaa;
}


#search-input {
    border: none;
    height: 100%;
    width: 95%;
    background-color: inherit;
    color: white;
    font-size: 20px;
}

.search-bar {
    border: 1px solid white;
    height: 50px;
    border-radius: 32px;
    text-align: center;
}


.card-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .card-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .card-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  .card-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }

.card {
    border-radius: 5px;
    padding: 7px 11px;
    margin: 10px;


    -webkit-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
    -moz-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
    -o-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
    transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
}

.pane {
    border-radius: 5px;
    padding: 7px 11px;
    margin: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 9px 0px #aaa;
}


.loglines {
    /* background-color: brown;
    color: white;  */
    height: 80vh;
    overflow-y: auto;
    margin: 0px 10px;
}

.filters {
    padding: 0px 24px;
    margin-bottom: 10px;
}

.filterSwitch {
    margin: 0px 5px;
}

.filter-input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-size: 20px;
}

.filter-bar {
    border-bottom: 1px solid black;
    text-align: right;
}

.content{
    width:500px;
    height:300px;
    position:relative;
    color:#fff;
    overflow:hidden;
}
.gradient-fade{

    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 98%;
    height: 50px;
    border-bottom-left-radius: 5px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgb(255, 255, 255) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgb(255, 255, 255) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgb(255, 255, 255) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgb(255, 255, 255) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
